.address {
  display: flex;
  grid-column: 1 / -1;
  flex-direction: column;
  gap: 24px;

  font-weight: 400;
  font-style: normal;

  @include on-desktop {
    grid-column: span 6 / -1;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;

    margin: 0;

    color: inherit;
    text-decoration: none;
  }

  &__label {
    font-size: 14px;
    color: $address-label-color;
    text-transform: capitalize;
  }

  &__value {
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    font-weight: 400;

    &--phone {
      letter-spacing: 1px;
    }

    @include on-hover(color, $address-label-color);
  }
}
