.form {
  grid-column: 1 / -1;

  @include on-desktop {
    grid-column: span 5;
  }

  &__input {
    display: block;

    box-sizing: border-box;
    width: 100%;
    margin-bottom: 16px;
    padding: 16px 14px;
    border: $inputs-border-size solid transparent;
    border-radius: 8px;

    font-family: 'Space Mono', monospace;
    font-size: 14px;
    font-weight: 400;

    background-color: $inputs-background-color;
    outline: none;

    transition: border-color $animation-duration;

    &::placeholder {
      color: $inputs-placeholder-color;
    }

    &:hover {
      border-color: $inputs-border-color-hover;
    }

    &:focus {
      border-color: $inputs-border-color-focus;
    }

    &--textarea {
      resize: none;
      min-height: $textarea-min-height;
      margin-bottom: 32px;
    }
  }
}
